@for $i from 1 through 100 {
  .text-circle span:nth-child(#{$i}) {
	transform: rotate(($i*18)+deg);
  } 
}
.text-badge {
	position: relative;
	width: 150px;
	border-radius: 50%;
	transform: rotate(-50deg);
}
.text-circle {
	span {
		height: 75px;
		position: absolute;
		width: 20px;
		left: 0;
		top: 0;
		transform-origin: bottom center;
		font-size: 12px;
  }
}
